# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# VS Code
.vscode
# Jupyter Notebook
.ipynb_checkpoints

# data
data/models
data/origin
data/tmp
data/url

# nohup
**/nohup.out
